@media (min-width: 370px) {
    .container {
        width: 100%;
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-right: auto;
        margin-left: auto;
    }
}


/* .show {
    position: absolute;
    left: '25%' !important;
}

.popover {
    position: absolute;
    left: '25%' !important;
} */