.table.dataTable {
    color: #177BBD;
    text-shadow: '1px 1px 1px black';
    font-weight: 700;
}

.table-sm {
    color: ''
}

.table-bordered {
    color: ''
}

.table-striped {
    color: ''
}

.table-bordered {
    color: ''
}