.table.dataTable.table-sm.table-bordered.table-striped {
    color: white;
    /* text-shadow: '1.5px 1.5px 1px black'; */
    font-weight: 700;
}

.dataTable_scrollBody {
    margin-right: 1%
}


/* {
    color: '';
    text-shadow: '1.5px 1.5px 1px black';
} */


/* .table-bordered {
    color: '';
    text-shadow: '1.5px 1.5px 1px black';
} */


/* .table-striped {
    color: '';
    text-shadow: '1.5px 1.5px 1px black';
} */

.table-bordered {
    color: '';
    /* text-shadow: '1.5px 1.5px 1px black'; */
}

.disabled.page-item {
    text-shadow: 'black 0px 0px 0px' !important;
    color: 'white' !important
}