.carousel-item,
.carousel-item.active {
    align-items: center;
}

.carousel-item>img {
    width: 100%;
    height: 0vh
}

.carousel-caption,
.d-none.d-md-block {
    color: black;
    text-shadow: .5px .5px .5px #177BBD;
    display: block !important;
    padding: none !important
}

.carousel-caption {
    position: initial !important;
    padding-bottom: none !important;
    padding-top: none !important;
}

.carousel-indicators {
    bottom: -25px !important
}