.cardStyle:hover {
    transform: scale(1.1);
    opacity: 1;
    transition: .2s ease-in-out;
}

.cardStyle {
    opacity: .8
}

#cardStyle2 {
    background-color: steelblue
}

#cardStyle2:hover {
    background-color: #177BBD
}