@media screen and (min-device-width: 1025px) {
    #titleId {
        margin-bottom: 4.1vw
    }
}


/* iPad Pro PORTRAIT */

@media screen and (max-width: 1024px) {
    #titleId {
        margin-bottom: 6.6vw
    }
}

@media screen and (min-width: 1024px) {
    #titleId {
        margin-bottom: 6.4vw
    }
}


/* 1440p */

@media screen and (min-device-width: 1440px) {
    #titleId {
        margin-bottom: 5.1vw
    }
}


/* 1600 */

@media screen and (min-device-width: 1600px) {
    #titleId {
        margin-bottom: 3.9vw
    }
}


/* 1920x1080 */

@media screen and (min-device-width: 1920px) {
    #titleId {
        margin-bottom: 4.0vw
    }
}


/* 1921x1080 */

@media screen and (min-device-width: 1921px) {
    #titleId {
        margin-bottom: 3.0vw
    }
}


/* 4k */

@media screen and (min-device-width: 2560px) {
    #titleId {
        margin-bottom: 2vw
    }
}


/* Surface Resolution */

@media screen and (min-device-width: 2736px) {
    #titleId {
        margin-bottom: 1vw
    }
}


/* iPad Pro LANDSCAPE*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {}


/* @media screen and (min-width: 790px) {
    #titleId {
        margin-bottom: 8.9vw
    }
} */


/* iPad PORTRAIT*/

@media screen and (max-width: 769px) {
    #titleId {
        margin-bottom: 11.1vw
    }
}

@media screen and (max-width: 456px) {
    #titleId {
        margin-bottom: 15.1vw
    }
}


/* iPad LANDSCAPE*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}


/* iPhone 6/7/8 Plus PORTRAIT */

@media screen and (max-width: 414px) {
    #titleId {
        margin-bottom: 18.7vw
    }
}


/* iPhone 6/7/8 Plus LANDSCAPE */

@media only screen and (min-device-width: 411px) and (max-device-width: 736px) and (orientation: landscape) {}


/* Pixel 2 & Pixel 2 XL PORTRAIT */

@media screen and (max-width: 412px) {
    #titleId {
        margin-bottom: 18.85vw
    }
}


/* Pixel 2 LANDSCAPE */

@media only screen and (min-device-width: 411px) and (max-device-width: 731px) and (orientation: landscape) {}


/* Pixel 2 XL LANDSCAPE */

@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (orientation: landscape) {}


/* iPhone 6/7/8 LANDSCAPE */

@media only screen and (min-device-width: 411px) and (max-device-width: 667px) and (orientation: landscape) {}


/* Iphone X LANDSCAPE */

@media only screen and (min-device-width: 411px) and (max-device-width: 822px) and (orientation: landscape) {}


/* Galaxy S5 PORTRAIT */

@media screen and (max-width: 360px) {
    #titleId {
        margin-bottom: 32.5vw
    }
}


/* Galaxy S5 LANDSCAPE */

@media only screen and (min-device-width: 411px) and (max-device-width: 640px) and (orientation: landscape) {}

@media screen and (max-width: 375px) {
    #titleId {
        margin-bottom: 31.3vw
    }
}


/* Iphone X Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
    .container {
        font-size: .5rem;
    }
    .iconText {
        font-size: .6rem !important
    }
    .ownerText {
        font-size: .8rem !important
    }
    .headerText {
        font-size: 1.2rem !important;
    }
    .dataTables_scrollHeadInner {
        padding-right: 0px !important;
    }
    .dataTable_scrollBody {
        margin-right: 0px !important
    }
    .transparentContainer {
        margin-top: 5%;
        margin-left: 2% !important;
        margin-right: 2% !important
    }
    .testHomeQuote {
        font-size: 1.2rem !important;
        min-height: fit-content
    }
    .stars {
        transform: scale(1) !important;
    }
    .testHomeText {
        transform: scale(.8) !important;
    }
    #serviceLogo {
        transform: scale(2.5);
        margin-bottom: 15%;
        padding-top: 5%;
        filter: drop-shadow(.05rem .05rem .05rem black) !important;
    }
    #serviceTitle {
        font-size: 2rem !important
    }
    #serviceText {
        margin-left: 10% !important;
        margin-right: 10% !important
    }
    #serviceHomeContainer {
        margin-left: 2% !important;
        margin-right: 2% !important;
    }
    #testimonialHomeContainer {
        margin-left: 2% !important;
        margin-right: 2% !important;
        min-height: 29vh !important;
    }
    #testimonialUserTextContainer {
        margin-top: -10% !important;
    }
    #homeHeaderText {
        font-size: 1.7rem !important;
    }
    .navbar {
        padding: 0rem !important
    }
    #premierLogoNav {
        width: 90% !important;
        margin-top: 5% !important
    }
    #titleId {
        margin-bottom: 13vw !important
    }
    .btn-default {
        padding: none !important;
        /* width: 5% !important */
    }
    .row {
        margin-left: 0 !important;
        margin-right: 0 !important
    }
}

@media only screen and (min-device-width: 375px) and (orientation: portrait) {
    .container {
        font-size: .5rem;
    }
    .dataTables_scrollHeadInner {
        padding-right: 0px !important;
    }
}


/* iPhone 5/SE PORTRAIT */

@media screen and (max-width: 330px) {
    #titleId {
        margin-bottom: 36vw
    }
}


/* iPhone 5/SE LANDSCAPE */

@media only screen and (min-device-width: 411px) and (max-device-width: 568px) and (orientation: landscape) {}

.App {
    text-align: center;
}

.react-rater {
    display: inline-block;
    line-height: normal;
    filter: drop-shadow(.6px .6px .5px black) !important;
}

.react-rater>* {
    display: inline-block;
}

.react-rater-star {
    cursor: pointer;
    color: #ccc !important;
    position: relative;
}

.react-rater-star.will-be-active {
    color: #E8C10D !important;
}

.react-rater-star.is-active {
    color: #E8C10D !important;
    /* filter: drop-shadow(.6px .6px .5px black) !important; */
}

.react-rater-star.is-active-half:before {
    color: #E8C10D !important;
    content: '\2605';
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
}

.react-rater-star.is-disabled {
    cursor: default;
}

html {
    width: 100%;
}


/* 



/* // Show number picker on focus 
input[type=number]:focus, 
input[type=number]:hover { 
    -moz-appearance:number-input; 
}  */