.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a:link {
  color: red;
 }
 /* visited link */
 a:visited {
  color: #ffffff;
 }
 /* mouse over link */
 a:hover {
   color: hotpink;
 }
 /* selected link */
 a:active {
  color: blue;
 }

 a.nav-links:link{
  color: #ffffff;
  text-decoration: none;
 }
 a.nav-links:hover{
  color: #E8C10D;
 }


 .navbar-expand-lg .navbar-collapse {
     justify-content: flex-end;
 }

 .collapse.show.navbar-collapse {
   display: flex;
   justify-content: flex-end;
 }